@model OrderViewModel

@{
    ViewBag.Title = "Create Order";
}

<h1 class="my-4">Create Order</h1>

<div class="row">
    @foreach (Product product in @Model.Products!)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 gap-2">
            <form asp-action="AddItem" method="post">
                <div class="card mb-4" style="width: 16rem; height: 20rem;">
                    <div>
                        @{
                            var imageUrl = product?.ImageUrl;
                            var placeholderImageUrl = Url.Content("/image-placeholder.jpg");

                            if (string.IsNullOrEmpty(imageUrl))
                            {
                                imageUrl = placeholderImageUrl;
                            }
                            else
                            {
                                imageUrl = Url.Content("~/images/" + imageUrl);
                            }
                        }
                        <img src="@imageUrl" class="card-img-top fixed-image-height" alt="@product?.Description">
                    </div>
                    <div class="card-body">
                        @product?.Name - @product?.Price.ToString("C")
                        <input type="hidden" value="@product?.ProductId" name="prodId" />
                        <input type="number" name="prodQty" class="form-control my-2" placeholder="Quantity" required />
                        <button class="btn btn-info" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>