@model Ingredient

@{
    ViewData["Title"] = $"Delete {Model.Name} Ingredient";
}

<h3 class="my-4">Are you sure you want to delete this?</h3>

<div>
    <h4>@Model.Name</h4>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IngredientId" class="mb-4" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>