@model ChangeUserRoleViewModel

<h2 class="my-4">Change User Role</h2>

<form asp-action="ChangeUserRole" method="post">
    <div class="form-group mb-2">
        <label asp-for="UserId"></label>
        <input asp-for="UserId" class="form-control" />
    </div>
    <div class="form-group mb-2">
        <label asp-for="CurrentRole"></label>
        <input asp-for="CurrentRole" class="form-control" placeholder="Admin or Customer" />
    </div>
    <div class="form-group mb-2">
        <label asp-for="NewRole"></label>
        <input asp-for="NewRole" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Change Role</button>
</form>